# HTTP
HTTP_ADDR=
GIN_MODE=# debug|release|test

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/tms?sslmode=disable

# Migration
MIGRATE_ON_START=true# run migrate up when booting

# (Nanti, saat ada auth/JWT)
# JWT_SECRET=
JWT_SECRET=
JWT_ISSUER=
ACCESS_TOKEN_TTL=
REFRESH_TOKEN_TTL=
