# HTTP
HTTP_ADDR=:8080
GIN_MODE=debug# debug|release|test

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/tms?sslmode=disable

# Migration
MIGRATE_ON_START=true# run migrate up when booting

# (Nanti, saat ada auth/JWT)
# JWT_SECRET=
